@font-face {
  font-family: "Reforma 2018 Gris";
  src: url("/assets/font/Reforma2018-Gris.otf");

  src: url("assets/font/Reforma2018-Gris.eot"); /* IE9 Compat Modes */
  src: url("assets/font/Reforma2018-Gris.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/font/Reforma2018-Gris.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/font/Reforma2018-Gris.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("assets/font/Reforma2018-Gris.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/font/Reforma2018-Gris.svg#svgFontName") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Reforma 1918 blanca";
  src: url("assets/font/Reforma1918-Blanca.eot"); /* IE9 Compat Modes */
  src: url("assets/font/Reforma1918-Blanca.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/font/Reforma1918-Blanca.woff2") format("woff2"),
    /* Super Modern Browsers */ url("assets/font/Reforma1918-Blanca.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("assets/font/Reforma1918-Blanca.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/font/Reforma1918-Blanca.svg#svgFontName") format("svg"); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

.navbar.navbar-dark.fixed-top {
  position: fixed;
  top: -72px;
  transition: 0.3s;
  opacity: 0;
}

.displayNav {
  top: 0px !important;
  transition: 0.3s !important;
  opacity: 1 !important;
}

body {
  background-color: #cfe6cf;
  color: #000;
  /*WHAT IS THIS line-height: 0.85 px; */
  margin: 0;
  position: relative;
}

h1 {
  font-family: "Reforma 2018 Gris", sans-serif;
  font-size: 30px;
  line-height: 1.1em;
  font-weight: normal;
}

h2 {
  font-family: "Reforma 1918 blanca", sans-serif;
  font-size: 30px;
  line-height: 1.1em;
  font-weight: normal;
}

h3 {
  font-family: "Reforma 2018 Gris", sans-serif;
  font-size: 19px;
  line-height: 1.2em;
  font-weight: normal;
}
h3.email_address {
  line-height: 0;
  font-size: 15px;
}
p {
  font-family: "Reforma 1918 blanca", sans-serif;
}

p.paragraph {
  font-size: 19px;
  line-height: 1.2em;
}

p.navigation {
  font-size: 19px;
  line-height: 1.1em;
}

li.navigation,
p.navigation {
  font-size: 19px;
}

span.bold {
  font-family: "Reforma 2018 Gris", sans-serif;
}
a {
  text-decoration: underline;
  color: #000;
}

a.anchor_point {
  text-decoration: none;
}
a.email_link {
  text-decoration: none;
}
li.navigation:hover,
p.navigation:hover,
a.anchor_point:hover {
  font-family: "Reforma 2018 Gris", sans-serif;
  color: #000;
}
ul#menu_list {
  padding-inline-start: 0px;
  font-family: "Reforma 1918 blanca";
}

.active,
a.anchor_point:active,
.navigation:active {
  font-family: "Reforma 2018 Gris", sans-serif;
  color: #000;
}

a.anchor_point:visited {
  color: #000;
}

li {
  list-style: none;
  transition: 0.4s;
  display: block;
  text-align: inherit;
  line-height: 54px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.grid_parent {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
  /* grid-template-areas: "header1 header2 sidebar main"; */
  /* column-gap: 36px; */
}
.menu_container {
  padding: 36px 36px 54px 36px;
  grid-area: footer;
  background: #cfe6cf;
  z-index: 10;
}
.l_column {
  width: 20%;
  min-width: 300px;
  max-width: 20%;
  border-right: #000 solid 1px;
  height: 100vh;
  position: fixed;
  grid-area: sidebar;
  /* display: inline-grid; */
  grid-template-rows: 30vh auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "footer";
  align-items: start;
  /* z-index: 10; */
}
.email {
  margin-left: 36px;
  margin-bottom: 0;
  position: fixed;
  bottom: 54px;
  z-index: -2;
}

.logo {
  grid-area: header;
  margin: 0 auto;
  height: 30vh;
  min-height: 200px;
  max-height: 350px;
}
img#logo_img {
  height: 30vh;
  max-height: 350px;
  min-height: 200px;
  display: block;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
}

.mobile_header {
  display: none;
  /* visibility: hidden; */
}
#myDiv {
  visibility: hidden;
}

#l_line {
  border-bottom: 1px solid #000;
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
}
span.space {
  padding-bottom: 27px;
  display: block;
}

span.space_2 {
  padding-bottom: 54px;
  display: block;
}

.r_column {
  grid-area: main;
  height: 100%;
  display: inline-grid;
  /* grid-template-rows: 30vh auto; */
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "footer";
  align-items: start;
}

.container {
  /* padding-left: 36px; */
  grid-area: footer;
}
.height_A {
  grid-area: header;
  margin: 0 auto;
  height: 30vh;
  min-height: 200px;
  max-height: 350px;
}

section#contact {
  height: 70vh;
}
.block {
  /* margin-top: 54px; */
  /* position: relative; */
  /* border-top: #000 solid 1px; */
}
.text_box {
  min-width: 400px;
  max-width: 800px;
  padding-bottom: 126px;
  padding-top: 54px;
  padding-left: 36px;
  padding-right: 36px;
}
.text_box.eng_text {
  padding-bottom: 54px;
}
.full_img {
  /* background-color: gray;
  min-width: auto;
  padding-top: 23.5%; */
  margin-top: 36px;
  margin-bottom: 45px;
  width: 75%;
}

.vertical_img {
  display: inline-flex;
  height: 250px;
  width: 180px;
  margin-left: 12px;
  margin-bottom: 12px;
  text-align: right;
  flex-wrap: wrap;
  float: right;
}
.vertical_img.eng {
  margin-right: 36px;
  margin-bottom: 0;
}

.r_line_home {
  border-bottom: 1px solid #000;
  /* position: absolute; */
  width: 100%;
  display: block;
  left: -36px;
}
.r_line_home.mobile {
  display: none;
}
.columns {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.columns.eng_img {
  justify-content: start;
  display: flex;
  margin-top: 72px;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.hide {
  visibility: hidden;
}
.margin_top {
  margin-top: 0;
}
.margin_top_9 {
  margin-top: 9px;
}
.margin_bottom {
  margin-bottom: 0;
}
.margin_left {
  margin-left: 0;
}
.margin_right {
  margin-right: 0 !important;
}
.anchor_height {
  display: block;
  /* height: 30vh;
  min-height: 200px;
  max-height: 350px; */
  padding-top: 30vh;
  margin-top: -30vh;
}
/* mobile */
@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
  .hide {
    visibility: visible;
  }
  h1,
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 15.2px;
  }
  p.paragraph {
    font-size: 15.2px;
  }

  p.navigation {
    font-size: 18.4px;
  }

  .grid_parent {
    /* grid-template-columns: 100% 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar"
      "main"; */
    display: inline-block;
    width: 100%;
  }

  .l_column,
  .r_column {
    width: 100%;
  }
  .l_column {
    position: sticky;
    border-right: none;
    height: 100%;
    min-width: 100%;
    display: block;
  }
  /* .logo {
    padding-top: 36px;
  } */
  #logo_img {
    margin-bottom: 36px;
    max-width: 230px;
    margin: auto;
  }

  .menu_container,
  .email {
    text-align: center;
  }
  .menu_container {
    padding-bottom: 27px;
  }
  .email {
    position: inherit;
    padding-top: 27px;
    margin-left: 0;
  }
  .height_A {
    display: none;
  }
  .container {
    padding: 0;
  }

  .r_line_home {
    left: 0;
    position: unset;
  }
  .r_line_home.mobile {
    display: block;
  }
  #myDiv {
    visibility: visible;
    position: sticky;
    top: 0;
  }
  .mobile_header {
    /* 
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    */
    display: flex;
    background-color: #cfe6cf;
    z-index: 100;
    height: 72px;
    justify-content: space-between;
  }
  .header_name {
    align-items: center;
    display: inline-flex;
  }
  #logo_img_mob {
    height: 36px;
    display: inline-flex;
    padding: 18px;
  }
  .hamburguer {
    display: inline-flex;
    padding: 18px;
  }
  .margin_top_9 {
    margin-top: 6.5px;
  }
  .text_box {
    min-width: auto;
    max-width: 100%;
    padding-top: 36px;
    padding-bottom: 72px;
    padding-left: 0;
    padding-right: 0px;
    margin: 0 18px;
  }
  span.space_2 {
    padding-bottom: 36px;
  }
  .vertical_img {
    margin-top: -30px;
  }
  .vertical_img.eng {
    margin-top: 0;
    margin-left: 0;
    margin-right: 18px;
    width: 100%;
    height: auto;
  }

  .columns {
    display: block;
    margin-top: 36px;
  }
  .email.mobile {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .full_img {
    width: 100%;
    margin-top: 27px;
    margin-bottom: 36px;
  }

  section#contact {
    min-height: 72px;
  }
  .anchor_height {
    padding-top: 72px;
    margin-top: -72px;
  }
}

/* desktop */
@media only screen and (min-width: 1500px) {
  .grid_parent {
    grid-template-columns: 20% auto;
  }
  /* .l_column {
    grid-template-rows: 350px auto;
  } */
}

/* desktop */
@media only screen and (min-width: 1350px) {
  /* .l_column {
    grid-template-rows: 350px auto;
  } */
}
/* 
@media only screen and (max-height: 100) {
  .l_column {
    grid-template-rows: auto;
  }
} */
